
:root {
    --destiny-darkblue: rgba(3, 32, 76, 1);
    --destiny-silver: rgba(192, 192, 192, 1);
    --destiny-neonblue: black;
    --destiny-grey: rgba(112, 123, 124, 1);

    --kingsman-darkchocolate: rgba(31, 21, 1, 1);
    --kingsman-gold: rgba(207, 181, 59, 1);
    --kingsman-burgundy: rgba(128, 0, 32, 1);
    --kingsman-cream: rgba(255, 253, 208, 1);
}

body {
    margin: 0;
    font-family: "Caveat", cursive;
}

#logo {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /* filter: drop-shadow(0px 0px 0px var(--destiny-neonblue)); */
}

#svg_logo {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#span_logo {
    position: absolute;
    /* color: var(--destiny-neonblue); */

    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    transform: translate(-50%, -50%);
    /* left: 4%;
    top: 25%; */
}


#main_container {


    /* background: linear-gradient(180deg, slategrey 85%, #C0DEED 97%); */
    /* background: rgb(207,23,23);
    
background: linear-gradient(90deg, rgba(207,23,23,1) 0%, rgba(185,26,26,1) 9%, rgba(36,0,0,1) 100%, rgba(121,9,9,1) 100%); */
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ff213c&c2=ffc501&gt=c&gd=dtr
*/
background: rgba(255, 33, 60, 1.0);
background: conic-gradient(from 45deg, rgba(255, 33, 60, 1.0), rgba(255, 197, 1, 0.6));

}

/* #header_wrapper {
    position: relative;
    height: 25vh;
    width: 100vw;
    left: 0;
    top: 0;
  } */

/* #header_filter_part,
    #header_border_part,
    #header_content_part {
      position: relative;
      height: 20vh;
      width: 150vh;
      left: 0;
      top: 0;
      box-sizing: border-box;
    } */

/* #header_filter_part {
      backdrop-filter: blur(4px);
      filter: url(#turbulence1);
      background: linear-gradient(
          to right,
          rgba(128, 0, 32, 0.25) 25%,
          rgba(31, 21, 1, 0.5) 30%
        ),
        url("https://assets.codepen.io/1088613/echelon_header2.jpg ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      mask: linear-gradient(90deg, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 97%),
        linear-gradient(
          177.9deg,
          rgba(0, 0, 0, 1) 72.5%,
          rgba(0, 0, 0, 0) 72.5%
        );
      mask-composite: intersect;

      transform: translate(-2.5%, -15%) scale(1.04, 1.475);
    } */

#header_border_part {
    border-bottom: 3px solid var(--destiny-neonblue);
    box-shadow: -50px 2px 20px 0px var(--destiny-neonblue);
    transform: rotate(-3deg) translate(-1%, -22%);
    border-image: linear-gradient(93deg,
            var(--destiny-neonblue) 91%,
            rgba(255, 255, 255, 0) 99%) 1;
}

#header_content_part {
    display: grid;
    grid-template-columns: .5fr 2fr 0.5fr;
}

#buttons {
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transform: rotate(-3deg) translate(0%, -15%);
}

.header_button {
    position: relative;
    border-bottom: 0.5px solid var(--destiny-neonblue);
    box-sizing: border-box;
    height: 60%;
    width: 80%;
    margin: auto;
    filter: drop-shadow(0px 0px .8px var(--destiny-neonblue));

    border-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 1%,
            var(--destiny-neonblue) 9%,
            var(--destiny-neonblue) 91%,
            rgba(255, 255, 255, 0) 99%) 1;
}

.material-symbols-outlined {
    position: absolute;
    color: var(--destiny-neonblue);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(3deg);
}

#top_symbol {
    font-size: 60px;
}

#experiment_symbol {
    font-size: 45px;
}

#new_symbol {
    font-size: 50px;
}


button {
    width: 150px;
    height: 50px;
    border: 0px;
    background: white;
    color: black;
    font-weight: 500;
    border-radius: 25px;
    border: 3px solid black;
    transition: 0.5s ease-in-out;
}

button::after {
    content: "Buy Here";
    transition: 0.5s ease-in-out;
    transition-delay: content 1.5s;
}

button:hover {
    width: 90px;
    border-radius: 10px;
    border: 3px solid pink;
    background-color: papayawhip;
}

button::before {
    content: "LFG!!";
    opacity: 0;
    display: none;
    transition: 0.5s ease-in-out;
}

button:hover::after {
    content: "";
    transition-delay: display 5s;
    display: none;
}

button:hover::before {
    display: block;
    opacity: 1;
}

#next-section {
    width: 100%;
    height: 100%;
    text-align: center;
    width: 100%;
    background: url(lava_texture_by_twister10_d1fy457.jpg) center top repeat-x;
    background-size: contain;
    animation: awan-animasi 10s linear infinite;
    -ms-animation: awan-animasi 10s linear infinite;
    -moz-animation: awan-animasi 10s linear infinite;
    -webkit-animation: awan-animasi 10s linear infinite;
}

@keyframes awan-animasi {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }

    ;
}

@-webkit-keyframes awan-animasi {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }

    ;
}

@-ms-keyframes awan-animasi {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }

    ;
}

@-moz-keyframes awan-animasi {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }

    ;
}

#meet-the-brothers {
    display: flex;
    flex-flow: row;
    justify-content: center;
    min-width: 350px;
    min-height: 85vh;
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 14px;
    color: #fff;
    background-color: #eae6e0;
}
a {
    color: #fff;
    text-decoration: none;
}
.people__slide .swiper-slide {
    width: 297px;
    /* padding: 30px 0; */
    transform: scale(0.75);
    transition: 0.3s;
}
.people__slide .swiper-slide .people__card {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 276px;
    padding: 25px 30px 30px;
    border-radius: 48px;
    /* background: linear-gradient(135deg, #fda668, #fda367, #fa9966, #f58c64, #ef7e64, #e97164, #e46865, #e26565); */
    background: linear-gradient(135deg, grey, grey, grey, black, black, black, black, black);
    transition: 0.3s;
}
.people__slide .swiper-slide .people__card .people__image {
    position: relative;
    padding: 4px;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.people__slide .swiper-slide .people__card .people__image img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.people__slide .swiper-slide .people__card .people__info {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.people__slide .swiper-slide .people__card .people__social {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 0;
}
.people__slide .swiper-slide .people__card .people__social li {
    padding: 0 5px;
}
.people__slide .swiper-slide .people__card .people__social li a {
    padding: 5px;
    color: #fff;
}
.people__slide .swiper-slide .people__card .people__name {
    margin-bottom: 10px;
}
.people__slide .swiper-slide .people__card .people__position {
    margin-bottom: 15px;
    font-size: 14px;
    color: #fff;
}
.people__slide .swiper-slide .people__card .people__desc {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.8;
    color: #fff;
    text-align: center;

}
.people__slide .swiper-slide .people__card .people__btn {
    display: inline-flex;
}
.people__slide .swiper-slide .people__card .people__btn a {
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    border: solid 1px #fff;
    transition: 0.25s;
}
.people__slide .swiper-slide .people__card .people__btn a:hover {
    background-color: #fff;
    color: #e26565;
}
.people__slide .swiper-slide.swiper-slide-active {
    animation-name: elastic1_sp;
}
.people__slide .swiper-slide:nth-child(even) .people__card {
    transform: rotate(-5deg);
}
.people__slide .swiper-slide:nth-child(odd) .people__card {
    transform: rotate(5deg);
}
@keyframes elastic1 {
    0% {
        transform: scale(1);
   }
    40% {
        transform: scale(1.4);
   }
    55% {
        transform: scale(1.27);
   }
    70% {
        transform: scale(1.36);
   }
    85% {
        transform: scale(1.31);
   }
    100% {
        transform: scale(1.33);
   }
}
@keyframes elastic1_sp {
    0% {
        transform: scale(0.75);
   }
    40% {
        transform: scale(1.05);
   }
    55% {
        transform: scale(0.95);
   }
    70% {
        transform: scale(1.02);
   }
    85% {
        transform: scale(0.98);
   }
    100% {
        transform: scale(1);
   }
}

#foot {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main" "footer";
    overflow-x: hidden;
    background: #F5F7FA;
    background: #eae6e0;
  }
  #foot .footer {
    z-index: 1;
    --footer-background:#ED5565;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
  }
  #foot .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: #000000;
    filter: url("#blob");
  }
  #foot .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: #434343;
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 2s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 2s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 2s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 2s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  #foot .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: linear-gradient(to top, #000000, #434343);
  }
  #foot .footer .content a, #foot .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
  #foot .footer .content b {
    color: white;
  }
  #foot .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
  #foot .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #foot .footer .content > div > div {
    margin: 0.25rem 0;
  }
  #foot .footer .content > div > div > * {
    margin-right: 0.5rem;
  }
  #foot .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  .heading {
    text-align: center;
  }
  .heading.check {
    place-self: center;
    position: absolute;
    bottom: -1485px;
    z-index: 99999999999;
  }